.users {
  padding: 25px;
}

.users .names,
.users .data {
  display: flex;
  margin: 50px 30px;
}

.item {
  align-items: center;
  border: 1px solid #ccc;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 160px;
}

.names .item {
  font-weight: bold;
}

.item:first-child,
.item:last-child {
  width: 50px;
}

.item:nth-child(5) {
  width: 240px;
}

.title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #000;
  margin-bottom: 23px;
}

.line {
  background-color: #ccc;
  height: 1px;
  margin-bottom: 25px;
  width: 100%;
}
