.container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 3px 6px 20px -5px rgba(0, 0, 0, 0.25);
  margin: 20px auto 0;
  width: 95%;
  padding-bottom: 30px;
}

.container.jobs {
  width: 373px;
  margin: 20px 40px;
}

.input-container {
  display: flex;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}
