.button,
.button-clear {
  background-color: #4d96ff;
  border: 1px solid #4d96ff;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  margin-right: 15px;
  width: 160px;
}

.button:hover,
.button:active {
  background-color: #4d96ee;
}
.button-clear {
  color: #4d96ff;
  border-color: #e5e9eb;
  background-color: #fff;
}

.button-clear:hover,
.button-clear:hover {
  background-color: #f8ffff;
}
