.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 3px 6px 20px -5px rgba(0, 0, 0, 0.25),
    -3px -6px 20px -5px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  margin: 25px;
  width: 650px;
  padding: 23px 25px;
}

.title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #000;
  margin-bottom: 23px;
}

.line {
  background-color: #ccc;
  height: 1px;
  margin-bottom: 25px;
  width: 100%;
}
