.input {
  margin-bottom: 0.5rem;
  font-family: "Inter";
  font-style: normal;
  color: #303940;
  font-size: 15px;
  line-height: 24px;
}

.input label {
  display: block;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  font-weight: 600;
  font: inherit;
  color: inherit;
}

.input input {
  appearance: none;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: inherit;
  cursor: text;
  display: block;
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
  height: 40px;
  margin-top: 5px;
  outline: none;
  padding: 10px;
  position: relative;
  width: 100%;
  max-width: 620px;
}

.input input:focus {
  background-color: #fff;
}

.input input[invalid="true"] {
  border-color: red;
}

.input p {
  color: red;
}

.input select {
  border: 1px solid #e5e9eb;
  border-radius: 6px;
  color: #303940;
  height: 40px;
  width: 270px;
}

.input select option {
  color: #303940;
}
